<f:be.container
	includeJsFiles="{0: '{f:uri.resource(path:\'JavaScript/tabmenu.js\', extensionName: \'backend\')}'}"
	includeCssFiles="{0: '{f:uri.resource(path:\'Css/forms.css\')}', 1: '{f:uri.resource(path: \'Css/sbt.css\')}', 2: '{f:uri.resource(path: \'Css/sbt_backend.css\')}'}">
	<div class="typo3-fullDoc">
		<div id="typo3-docheader">
			<div class="typo3-docheader-functions">
				<div class="left">
					<f:be.buttons.icon uri="{f:uri.action(action:'download')}" icon="extensions-t3events_reservation-download-excel-white" title="Teilnehmer exportieren" />
				</div>
				<div class="right">
					<f:be.pagePath />
					<f:be.pageInfo />
				</div>
			</div>
			<div class="typo3-docheader-buttons">
				<div class="left">
				</div>
				<div class="right">
					<f:be.buttons.shortcut />
				</div>
			</div>

		</div>
		<div id="typo3-docbody">
			<div id="typo3-inner-docbody" class="tx-t3eventsreservation">
				<f:render section="content" />
			</div>
		</div>
	</div>
</f:be.container>
