<f:layout name="Default" />
<f:section name="main">
	<f:debug>{reservation}</f:debug>
	<h1>{f:translate(key: 'header.editBillingAddress', default: 'header.editBillingAddress')}</h1>

	<f:flashMessages renderMode="div" />
	<f:render partial="FormErrors" arguments="{object:Reservation}" />

	<f:form action="update" name="reservation" object="{reservation}" noCacheHash="TRUE">
		<f:render partial="BillingAddress/FormFields"
				  arguments="{prefixFieldName: 'event_registration_billing_address', prefixProperty: 'billingAddress.'}"
		/>
		<f:form.submit value="{f:translate(key: 'button.save')}" />
	</f:form>
</f:section>
