<f:layout name="Default" />
<f:section name="main">
	<f:debug>{reservation}</f:debug>
	<h1>{f:translate(key: 'header.editBillingAddress', default: 'header.editBillingAddress')}</h1>

	<f:flashMessages renderMode="div" />
	<f:render partial="FormErrors" arguments="{object:Reservation}" />

	<f:form action="update" name="reservation" object="{reservation}" noCacheHash="TRUE">
		<f:render partial="BillingAddress/FormFields" arguments="{billingAddress: '{reservation.billingAddress}'}" />
		<f:form.submit value="Save" />
	</f:form>
</f:section>
