<div class="search-form">
	<f:if condition="{settings.common.searchForm.debug}">
		<f:debug inline="true" title="settings">{settings}</f:debug>
		<f:debug inline="true" title="overwriteDemand">{overwriteDemand}</f:debug>
		<f:debug inline="true" title="filterOptions">{filterOptions}</f:debug>
	</f:if>
	<f:form name="overwriteDemand" action="list">
		<f:comment>show subject field</f:comment>
		<f:if condition="{showSubjectField}">
			<f:render partial="Common/SearchSubject" arguments="{overwriteDemand: overwriteDemand}" />
		</f:if>

		<f:comment>period</f:comment>
		<f:if condition="{filterOptions.periods}">
			<f:form.select
				id="tx_t3eventsQuickMenue"
				name="overwriteDemand[period]"
				options="{filterOptions.periods}"
				optionValueField="key"
				optionLabelField="value"
				prependOptionLabel="{f:translate(key: 'label.allPeriod')}"
				value="{overwriteDemand.period}"
				/>
		</f:if>

		<f:comment>genres</f:comment>
		<f:if condition="{filterOptions.genres}">
			<f:form.select
				id="tx_t3eventsQuickMenue"
				name="overwriteDemand[genres]"
				options="{filterOptions.genres}"
				optionValueField="uid"
				optionLabelField="title"
				prependOptionLabel="{f:translate(key: 'label.allGenres')}"
				value="{overwriteDemand.genres}"
				/>
		</f:if>

		<f:comment>venues</f:comment>
		<f:if condition="{filterOptions.venues}">
			<f:form.select
				id="tx_t3eventsQuickMenue"
				name="overwriteDemand[venues]"
				options="{filterOptions.venues}"
				optionValueField="uid"
				optionLabelField="title"
				prependOptionLabel="{f:translate(key: 'label.allVenues', default: 'label.allVenues')}"
				value="{overwriteDemand.venues}"
				/>
		</f:if>

		<f:comment>audience</f:comment>
		<f:if condition="{filterOptions.audiences}">
			<f:form.select
				id="tx_t3eventsQuickMenue"
				name="overwriteDemand[audiences]"
				options="{filterOptions.audiences}"
				optionValueField="uid"
				optionLabelField="title"
				prependOptionLabel="{f:translate(key: 'label.allAudiences')}"
				value="{overwriteDemand.audiences}"
				/>
		</f:if>

		<f:comment>event types</f:comment>
		<f:if condition="{filterOptions.eventTypes}">
			<f:form.select
				id="tx_t3eventsQuickMenue"
				name="overwriteDemand[eventTypes]"
				options="{filterOptions.eventTypes}"
				optionValueField="uid"
				optionLabelField="title"
				prependOptionLabel="{f:translate(key: 'label.allEventTypes')}"
				value="{overwriteDemand.eventTypes}"
				/>
		</f:if>

		<f:comment>categories</f:comment>
		<f:if condition="{filterOptions.categorys}">
			<f:form.select
				id="tx_t3eventsQuickMenue"
				name="overwriteDemand[categories]"
				options="{filterOptions.categorys}"
				optionValueField="uid"
				optionLabelField="title"
				prependOptionLabel="{f:translate(key: 'label.allDepartments', default: 'label.allDepartments')}"
				value="{overwriteDemand.categories}"
				/>
		</f:if>


		<f:form.hidden
			id="tx_t3eventsQuickMenue"
			name="overwriteDemand[categoryConjunction]"
			value="{settings.bookings.search.categoryConjunction}"
			/>


		<div class="button-group">
			<f:form.button name="submit"
				class="btn" value="submit">{f:translate(key: 'button.search', default: 'button.search')}</f:form.button>
			<f:link.action action="reset">{f:translate(key: 'button.reset', default: 'button.reset')}</f:link.action>
		</div>
	</f:form>
</div>
