<f:form.validationResults for="{object}">
	<f:comment>
		<f:debug title="validationResults">{validationResults}</f:debug>
		<f:debug title="flattenedErrors">{validationResults.flattenedErrors}</f:debug>
	</f:comment>
	<f:if condition="{validationResults.flattenedErrors}">
		<div class="formErrors">
			<f:for each="{validationResults.flattenedErrors}" key="propertyPath" as="errors">
				<f:for each="{errors}" as="error">
					<div class="singleError" data-error-path="error.{propertyPath}.{error.code}">
						<f:translate key="error.{propertyPath}.{error.code}" default="{error} - {error.code}">

						</f:translate>
					</div>
				</f:for>
			</f:for>
		</div>
	</f:if>
</f:form.validationResults>