<f:be.container
	includeCssFiles="{0: '/Templates/Dakosy/Resources/Public/css/forms.css'}">
	<div class="typo3-fullDoc">
		<div id="typo3-docheader">
			<div class="typo3-docheader-functions">
				<div class="left">
				</div>
				<div class="right">
					<f:be.pagePath />
					<f:be.pageInfo />
				</div>
			</div>
			<div class="typo3-docheader-buttons">
				<div class="left">
					<f:be.buttons.icon uri="{f:uri.action(action:'download')}" icon="extensions-dakosy_reservations-download-excel-blue" title="Alle Teilnehmer exportieren" />
				</div>
				<div class="right">
					<f:be.buttons.shortcut />
				</div>
			</div>

		</div>
		<div id="typo3-docbody">
			<div id="typo3-inner-docbody">
				<f:render section="content" />
			</div>
		</div>
	</div>
</f:be.container>
