<div class="form-fields">
	<div class="section">
		<div class="column reservationContactInfo">
			<h3>
				<f:translate key="label.contact" default="label.contact"/>
			</h3>
			<div class="message">
				<f:translate key="message.fillInContactPersonData" />
			</div>
			<div class="field-radio">
				<label for="tx-t3eventsreservation-contact-gender">
					<f:translate key="label.gender" />
				</label>
				<div id="tx-t3eventsreservation-contact-gender">
					<f:form.radio property="contact.gender" id="tx-t3eventsreservation-contactGenderFemale" value="2" />
					<label for="tx-t3eventsreservation-contactGenderFemale" class="radiolabel">
						<f:translate key="label.gender.female" />
					</label>
					<f:form.radio property="contact.gender" id="tx-t3eventsreservation-contactGenderMale" value="1" />
					<label for="tx-t3eventsreservation-contactGenderMale" class="radiolabel">
						<f:translate key="label.gender.male" />
					</label>
				</div>
			</div>
			<div class="field-input">
				<label for="tx-t3eventsreservation-contact-firstName">
					<f:translate key="label.first_name" />
				</label>
				<f:form.textfield id="tx-t3eventsreservation-contact-firstName"property="contact.firstName" />
			</div>
			<div class="field-input">
				<label for="tx-t3eventsreservation-contact-name">
					<f:translate key="label.name" />
				</label>
				<f:form.textfield id="tx-t3eventsreservation-contact-name" property="contact.name" />
			</div>
			<div class="field-input">
				<label for="tx-t3eventsreservation-contact-phone">
					<f:translate key="label.phone" />
				</label>
				<f:form.textfield id="tx-t3eventsreservation-contact-phone" property="contact.phone" />
			</div>
			<div class="field-input">
				<label for="tx-t3eventsreservation-contact-email">
					<f:translate key="label.email" />
					<span class="required">*</span>
				</label>
				<f:form.textfield id="tx-t3eventsreservation-contact-email" property="contact.email" />
			</div>
		</div>
	</div>

	<div class="section">
		<div class="field-checkbox">
			<label for="tx-t3eventsreservation-contactIsParticipant">
				<f:form.checkbox id="tx-t3eventsreservation-contactIsParticipant" property="contactIsParticipant" value="TRUE" />
				<f:translate key="label.contactIsParticipant" />
			</label>
		</div>
		<div class="field-checkbox">
			<f:form.checkbox id="tx-t3eventsreservation-privacyStatementAccepted" property="privacyStatementAccepted" value="TRUE" />
			<label for="tx-t3eventsreservation-privacyStatementAccepted">{f:translate(key: 'label.privacyStatementAccepted', default: 'label.privacyStatementAccepted' )}
				<span class="required">*</span>
			</label>
		</div>
		<div class="field-checkbox">
			<label for="tx-t3eventsreservation-disclaimRevocation">
				<f:form.checkbox id="tx-t3eventsreservation-disclaimRevocation" property="disclaimRevocation" value="TRUE" />
				{f:translate(key: 'label.disclaimRevocation', default: 'label.disclaimRevocation' )}
			</label>
		</div>
	</div>
</div>
