a.button,
input {
	display: block;
	width: 225px;
	height: auto;
	margin: 2px auto 10px 0;
	padding: 5px 3px 4px 3px;
	background: #FFFFFF;
	border: 1px solid #1C3862;
	color: #1C3862;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	line-height: 13px;
}

/* restore pagination input field */
#typo3-dblist-pagination input {
	display: inline;
	width: auto;
}

input[type=checkbox] {
	width: auto;
	display: inline-block;
}

input[type=radio] {
	width: auto;
	display: inline-block;
}

a.button,
input[type=submit] {
	display: inline-block;
	width: auto;
	padding: 8px 22px;
	background: #1C3862;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	color: #FFFFFF;
	font-size: 12px;
	text-decoration: none;
	cursor: pointer;
}

a.button:hover,
input[type=submit]:hover {
	background: #CD1421;
}

input[type=file] {
	width: 228px;
	padding: 0px 3px 0px 0px;
}

textarea {
	display: block;
	width: 222px;
	margin: 5px 0 10px 0;
	padding: 1px 5px;
	background: #FFFFFF;
	border: 1px solid #1C3862;
	color: #1C3862;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1em;
}

select {
	display: block;
	width: 233px;
	margin: 5px 0 10px;
	padding: 1px;
	background: #FFFFFF;
	border: 1px solid #1C3862;
	color: #1C3862;
	font-size: 1em;
}

fieldset {
	padding: 0;
}

#rueckrufservice h2 {
	border-bottom: 1px solid #D8D2C9;
	color: #1E3969;
	font-size: 14px;
	font-weight: bold;
	margin-right: -10px;
	font-family: Arial;
	padding: 12px 5px 5px 14px;
}

#rueckrufservice fieldset {
	padding: 5px 0 0 14px;
}

#rueckrufservice input {
	width: 187px;
}

#rueckrufservice p {
	border-bottom: 1px solid #D8D2C9;
	color: #1E3969;
	font-size: 14px;
	font-weight: bold;
	padding-left: 14px;
	padding-top: 7px;
	margin-right: -10px;
	font-family: Arial;
}

#rueckrufservice .powermail_label {
	display: none;
}

/* Powermail */
.tx-powermail .powermail_form_title {
	display: none;
}

.tx-powermail .powermail_legend {
	display: none;
}

.tx-powermail .formError {
	margin-top: -5px !important;
	margin-left: -30px !important;
}

.tx-powermail .formErrorContent {
	background: #CD1421;
	color: #FFFFFF;
	padding: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	width: 125px;
}

.tx-powermail .powermail_confirmation input[type=submit] {
	float: left;
	margin: 20px 10px 0 0;
}

.tx-powermail dl dt {
	font-weight: bold;
	color: #1C3862;
	margin: 10px 0 5px 0;
}

.tx-powermail .beauftragter .validation-advice {
	top: 3px;
}

.tx-powermail .beauftragter input, .tx-powermail .beauftragter textarea {
	display: inline;
	float: left;
	margin-right: 30px;
	width: 212px;
}

.tx-powermail .beauftragter label {
	float: left;
	width: 100px;
	padding-top: 5px;
}

.tx-powermail .beauftragter .powermail_fieldwrap {
	float: left;
	width: 250px;
}

.tx-powermail .beauftragter .powermail_mandatory_js {
	position: relative;
	top: 5px;
}

.tx-powermail .beauftragter .powermail_fieldwrap_text {
	clear: both;
	width: 460px;
	height: 16px;
	background: #1C3862;
	color: #FFFFFF;
	padding: 5px;
	font-weight: bold;
	font-size: 12px;
	margin-top: 10px;
}

.tx-powermail .beauftragter .powermail_fieldwrap_submit {
	clear: both;
}

.tx-powermail .beauftragter .powermail_fieldwrap_submit input[type=submit] {
	width: 100px;
}

/* FE-Login */
#top .tx-felogin-pi1 input {
	float: left;
	margin: 0 4px 0 4px;
	padding: 3px 5px 3px 5px;
	width: 105px;
}

/* FE-User Registration */
.tx-srfeuserregister-pi1 dl dt {
	font-weight: bold;
	color: #1C3862;
	margin: 10px 0 5px 0;
}

.tx-srfeuserregister-pi1 .tx-srfeuserregister-pi1-error {
	color: #CD1421;
	font-weight: bold;
}

.tx-srfeuserregister-pi1 .tx-srfeuserregister-pi1-error a {
	color: #CD1421;
	font-weight: bold;
}
