<f:layout name="Default" />

<f:section name="content">
	<f:if condition="{settings.debug.bookings.newNotification}">
		<f:debug title="notification">{newNotification}</f:debug>
		<f:debug title="reservations">{reservations}</f:debug>
	</f:if>
	<h3>
		<f:translate key="title.newNotification" />
	</h3>
	<div class="lesson-properties">
		<strong>{lesson.course.headline} -
			<f:format.date format="d.m.Y">{lesson.date}</f:format.date>
		</strong>
	</div>
	<div class="contacts">
		<label for="recipientList">Empfänger</label>
		<f:for each="{reservations}" as="reservation">
			<ul id="recipientList">
				<li>{reservation.company.name}: {reservation.contact.name}, {reservation.contact.firstName}</li>
			</ul>
		</f:for>
	</div>

	<f:render partial="FormErrors" arguments="{object:Notification}" />
	<f:form action="createNotification"
		name="newNotification"
		object="{notification}"
		arguments="{reservations: reservations}">

		<f:render partial="Notification/FormFields" arguments="{lesson: lesson}" />
		<div class="button-group clearfix">
			<f:link.action
				action="list"
				class="button left float-left">{f:translate(key: 'button.cancel')}
			</f:link.action>
			<f:form.submit
				value="{f:translate(key: 'button.send')}"
				class="button right float-left"
				/>
		</div>
	</f:form>
</f:section>