<f:layout name="Default" />

<f:section name="content">
	<f:if condition="{settings.debug.reservation.newParticipant}">
		<f:debug title="reservation">{reservation}</f:debug>
	</f:if>

	<f:render partial="FormErrors" arguments="{object:Reservation}" />
	<f:form action="createParticipant"
		name="newParticipant"
		object="{newParticipant}"
		arguments="{reservation: reservation}">
		<h3>
			<f:translate key="title.newParticipant" />
		</h3>

		<f:render partial="Participant/FormFields" />
		<div class="button-group clearfix">
			<f:link.action
				action="edit"
				arguments="{reservation: reservation}"
				class="button left float-left">{f:translate(key: 'button.cancel')}
			</f:link.action>
			<f:form.submit
				value="{f:translate(key: 'button.save')}"
				class="button right float-left" />
		</div>
	</f:form>
</f:section>