<div class="form-fields">
	<div class="message">
		<f:translate key="message.fillInParticipantData" />
	</div>
	<div class="field-radio">
		<label for="gender">
			<f:translate key="tx_dakosyreservations_domain_model_person.gender" />
		</label>
		<f:form.radio property="gender" value="" />
		<f:form.radio property="gender" value="1" />
	</div>
	<div class="field-input">
		<label for="firstName">
			<f:translate key="tx_dakosyreservations_domain_model_person.first_name" />
		</label>
		<f:form.textfield property="firstName" />
	</div>
	<div class="field-input">
		<label for="name">
			<f:translate key="tx_dakosyreservations_domain_model_contact.name" />
		</label>
		<f:form.textfield property="name" />
	</div>
	<div class="field-input">
		<label for="phone">
			<f:translate key="tx_dakosyreservations_domain_model_contact.phone" />
		</label>
		<f:form.textfield property="phone" />
	</div>
	<div class="field-input">
		<label for="email">
			<f:translate key="tx_dakosyreservations_domain_model_contact.email" />
		</label>
		<f:form.textfield property="email" />
	</div>
</div>
