Teilnehmer ID; Name; Vorname; Reservierung ID; Firma; Veranstaltungsname; Termin ID; Datum; Ort; weitere Angebote
<f:for each="{participants}" as="participant">
	<f:alias map="{reservation: participant.reservation, lesson: participant.reservation.lesson}">"{participant.uid}";"{participant.name}";"{participant.firstName}";"{reservation.uid}";"{reservation.company.name}";"{lesson.course.headline}";"{lesson.uid}";"{lesson.date->f:format.date(format: 'd.m.Y')}";"{lesson.eventLocation.name}"</f:alias>
</f:for>
