<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en"
      xmlns:f="http://xsd.helmut-hummel.de/ns/TYPO3/CMS/Fluid/ViewHelpers">
<f:layout name="Default"/>
<f:section name="main">
    <f:comment>
        <f:debug title="participants">{participants}</f:debug>
    </f:comment>
    <f:if condition="{settings.debug}">
        <f:debug title="settings">{settings}</f:debug>
    </f:if>
    <h1>{f:translate(key: 'header.participants', default: 'Participants')}</h1>
    <f:render partial="Backend/Common/SearchForm"
              arguments="{overwriteDemand: overwriteDemand, filterOptions: filterOptions, showSubjectField: '{settings.search.showSubjectField}'}"/>
    <f:flashMessages />
    <div class="panel panel-space panel-default recordlist">
                <f:render partial="Backend/Pagination" arguments="{pagination: pagination, paginator: pagination.paginator}" />
        <table class="typo3-dblist nowrap tx_t3eventsreservation">
            <thead>
            <tr class="c-headline">
                <th>{f:translate(key: 'label.id', default: 'ID')}</th>
                <th class="col-title">{f:translate(key: 'label.name', default: 'Name')}, {f:translate(key:
                    'label.firstName', default: 'First Name')}
                </th>
                <th class="">{f:translate(key: 'label.reservation', default: 'Reservation')} {f:translate(key:
                    'label.id', default: 'ID')} - {f:translate(key: 'label.event', default: 'Event')}
                </th>
                <th>{f:translate(key: 'label.date', default: 'Date')} / {f:translate(key: 'label.location', default:
                    'Location')}
                </th>
            </tr>
            </thead>
                <f:for each="{paginator.paginatedItems}" as="participant">
                    <tr class="db_list_normal">
                        <td>{participant.uid}</td>
                        <td>{participant.lastName}, {participant.firstName}</td>
                        <td>{participant.reservation.uid} - {participant.reservation.lesson.event.headline}</td>
                        <td>
                            <f:format.date format="d.m.Y">{participant.reservation.lesson.date}</f:format.date>
                            , {participant.reservation.lesson.eventLocation.name}
                        </td>
                    </tr>
                </f:for>
        </table>
        
            <f:render partial="Backend/Pagination" arguments="{pagination: pagination, paginator: pagination.paginator}" />
    </div>
</f:section>

<f:comment>Header buttons</f:comment>
<f:section name="headerButtons"/>
