<f:layout name="Default" />
<f:section name="content">
	<f:comment>
		<f:debug title="participants">{participants}</f:debug>
	</f:comment>
	<f:if condition="{settings.debug}">
		<f:debug title="settings">{settings}</f:debug>
	</f:if>
	<h1>{f:translate(key: 'header.participants', default: 'Participants')}</h1>
	<f:render partial="Common/SearchForm"
		arguments="{overwriteDemand: overwriteDemand, filterOptions: filterOptions, showSubjectField: '{settings.participant.search.showSubjectField}'}" />
	<f:flashMessages renderMode="div" />
	<div class="list">
		<table class="typo3-dblist tx_t3eventsreservation">
			<tr class="c-headline">
				<td>{f:translate(key: 'label.id', default: 'ID')}</td>
				<td class="col-title">{f:translate(key: 'label.name', default: 'Name')}, {f:translate(key: 'label.firstName', default: 'First Name')}</td>
				<td class="">{f:translate(key: 'label.reservation', default: 'Reservation')} {f:translate(key: 'label.id', default: 'ID')} - {f:translate(key: 'label.event', default: 'Event')}</td>
				<td>{f:translate(key: 'label.date', default: 'Date')} / {f:translate(key: 'label.location', default: 'Location')}</td>
			</tr>
			<f:be.widget.paginate
				objects="{participants}"
				configuration="{settings.participant.list.paginate}"
				as="paginatedParticipants"
				>
				<f:groupedFor each="{paginatedParticipants}" as="participantsByLesson" groupBy="reservation.lesson" groupKey="lesson">
					<f:if condition="{lesson}">
						<tr class="t3-row-header">
							<td colspan="3">
								<f:format.date format="d.m.Y">{lesson.date}</f:format.date>
								- {lesson.event.headline} ({lesson.participants->f:count()} {f:translate(key: 'label.participants', default: 'Participants')})
							</td>
							<td>
								<f:be.buttons.icon uri="{f:uri.action(action:'download', arguments: {schedule: '{lesson}'})}" icon="extensions-t3events_reservation-download-excel-white" title="Teilnehmer exportieren" />
							</td>
						</tr>
						<f:for each="{participantsByLesson}" as="participant">
							<tr class="db_list_normal">
								<td>{participant.uid}</td>
								<td>{participant.lastName}, {participant.firstName}</td>
								<td>{participant.reservation.uid} - {participant.reservation.lesson.event.headline}</td>
								<td>
									<f:format.date format="d.m.Y">{participant.reservation.lesson.date}</f:format.date>
									, {participant.reservation.lesson.eventLocation.name}
								</td>
							</tr>
						</f:for>
					</f:if>
				</f:groupedFor>
			</f:be.widget.paginate>
		</table>
	</div>
</f:section>
